<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Методическая копилка</title>
        <link rel="stylesheet" href="../../static/styles_piggy.css">
    </head>
    <body>
        <header class="header">
            <a href="../index.html">
                <img src="../../static/img/main.svg" alt="main" class="icon">
            </a>
            
            <div class="header-container">
                <h1>Методическая копилка</h1>
                <p>Семейная атмосфера</p>
            </div>
        </header>

        <div class="grid">
            
        </div>

        <div id="lightbox" class="lightbox">
            <span class="close-btn">&times;</span>
            <img id="lightbox-img" src="" alt="Увеличенное фото">
        </div>

        <script src="../../static/script.js"></script>
    </body>
</html>